@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@200&display=swap");
:root {
    --font-family: "Poppins", sans-serif;
    --font-family-2: "Montserrat", sans-serif;
    --color: rgba(255, 255, 255, 0.55);
    --secondary-color: black;
    --hover-color: rgb(86, 116, 204);
    --transition: .5s
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(../img/background.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/background.jpg)
}

.animationParent {
    height: 100%;
    width: 100%;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    z-index: 999999
}

.animationParent>div {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.animationParent>div h2,
.animationParent>div h3 {
    color: var(--color);
    font-size: 60px;
    font-family: var(--font-family-2);
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 85px;
    text-transform: capitalize;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0
}

@-webkit-keyframes HeaderAnimation {
    0% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes HeaderAnimation {
    0% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes Out {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(80px);
        transform: translateY(80px);
        opacity: 0
    }
}

@keyframes Out {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(80px);
        transform: translateY(80px);
        opacity: 0
    }
}

.animationParent>div h2 {
    -webkit-animation: HeaderAnimation 1.5s forwards ease 0.5s, Out 1s forwards 3s;
    animation: HeaderAnimation 1.5s forwards ease 0.5s, Out 1s forwards 3s
}

.animationParent>div h3 {
    -webkit-animation: HeaderAnimation 1.5s forwards ease 1s, Out 1s forwards 3s;
    animation: HeaderAnimation 1.5s forwards ease 1s, Out 1s forwards 3s
}

.documentParent {
    display: none
}

.navParent {
    height: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    opacity: 0;
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
    -webkit-animation: navAnim 1s forwards ease;
    animation: navAnim 1s forwards ease
}

@-webkit-keyframes navAnim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-90px);
        transform: translateY(-90px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes navAnim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-90px);
        transform: translateY(-90px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.navParent:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    height: 1px;
    width: 0%;
    -webkit-animation: navBottom 1s forwards 0.5s ease;
    animation: navBottom 1s forwards 0.5s ease
}

@-webkit-keyframes navBottom {
    0% {
        width: 0
    }
    to {
        width: 90%
    }
}

@keyframes navBottom {
    0% {
        width: 0
    }
    to {
        width: 90%
    }
}

.navParent .navChild h2,
.navParent .navChild h3 {
    color: var(--color);
    font-family: var(--font-family);
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 21px
}

.navParent .navChild .logout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    width: 110px;
    cursor: pointer;
    position: relative
}

.navParent .navChild .logout:hover:after {
    width: 105%
}

.navParent .navChild .logout:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    height: 1px;
    width: 0%;
    -webkit-transition: var(--transition);
    transition: var(--transition)
}

.navParent .navChild .logout i {
    color: var(--color)
}

.navParent .navChild .logout h3 {
    font-size: 19px
}